name: Docker Image CI

on:
  push:
    branches: [ "gui-base" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      - 
        id: envVersions
        uses: ./.github/actions/dotenv-action
        with:
          path: .env.versions
      -
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        #with:
        #  platforms: 'linux/arm64'
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.gui-base
          platforms: |
            linux/amd64
            linux/arm64
          push: true
          tags: stainless403/gui-base:latest,stainless403/gui-base:${{ steps.envVersions.outputs.GUI_BASE_VERSION }}
