name: Docker Image CI

on:
  push:
    branches: [ "mdcx-base" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - 
        name: Checkout
        uses: actions/checkout@v3
      -
        uses: cardinalby/export-env-action@v2
        id: envVersions
        with:
          envFile: '.env.versions'
          export: 'false'
      -
        # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        #with:
        #  platforms: 'linux/arm64'
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - 
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: Dockerfile.mdcx-base
          platforms: |
            linux/amd64
            linux/arm64
          push: true
          tags: stainless403/mdcx-base:latest,stainless403/mdcx-base:${{ steps.envVersions.outputs.MDCX_BASE_IMAGE_VERSION }}
